In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#used to change all the relive dates to datetimes
import datetime

# this in important because the time stamps in the dataset are relitive to when they were scraped
DATE_SCRAPED="03-1-2020"

In [2]:
# read in the data frame that has my scrapped content
df=pd.read_csv('calz_reviews_content.csv')
df_labels=pd.read_csv('calz_labels.csv')

# **EDA**

In [3]:
# inspect head @TODO DROP NAME COL
print(df.shape)
df.head()

(1041, 8)

  web-scraper-order  ... owner_response_time
0   1583045461-1042  ...          a year ago
1    1583045296-198  ...                 NaN
2    1583045434-829  ...                 NaN
3    1583045434-869  ...                 NaN
4    1583045434-899  ...                 NaN

[5 rows x 8 columns]

In [5]:
print(df_labels.shape)
df_labels.head(20)

(9, 6)

  web-scraper-order  ... num_to_rate
0      1583044594-2  ...       (322)
1      1583044594-5  ...       (192)
2      1583044594-7  ...       (251)
3      1583044594-4  ...       (165)
4      1583044594-9  ...       (133)
5      1583044594-3  ...       (160)
6      1583044594-1  ...       (172)
7      1583044594-8  ...        (82)
8      1583044594-6  ...        (86)

[9 rows x 6 columns]

In [7]:
# define a function that will take the cell contents of num_to_rate and remove the
# paretheses
def strip_n2r(x):
    return x.strip('(').strip(')')
test=df_labels['num_to_rate'].apply(strip_n2r)
test.head()

0    322
1    192
2    251
3    165
4    133
Name: num_to_rate, dtype: object

In [8]:
# make changes to df
df_labels['num_to_rate']=df_labels['num_to_rate'].apply(strip_n2r)

#Data Cleaning/feature engineering

###**geo-codes engineering**

In [10]:
# im going to have to extract the geo code from the following links and compare them to my geo codes from
# my labels df to map the reviews to a particular store
print("labels df:")
print(df_labels['web-scraper-start-url'].iloc[0])
print("\nreviews df:")
df['web-scraper-start-url'].iloc[0]

labels df:
https://www.google.com/maps/search/calz+pizza/@36.8599294,-76.1147392,11z

reviews df:

"https://www.google.com/maps/place/Cal'z+Pizza+-+East+Little+Creek/@36.9181643,-76.2003157,17z/data=!3m1!4b1!4m10!1m2!2m1!1scalz+pizza!3m6!1s0x89ba914bb73fa53b:0x1301c924d4200997!8m2!3d36.91816!4d-76.198127!9m1!1b1"

In [18]:
# define a function to strip the url strings to reveal geo tags
def parse_geo(x):
  return x.split('@')[1].split(',')[:-1]
# test it out before i make any changes
test=df['web-scraper-start-url'].apply(parse_geo)
test.head()

0    [36.7819861, -76.3383989]
1    [36.7819861, -76.3383989]
2    [36.8262133, -76.4123802]
3    [36.8031384, -76.1770067]
4    [36.7819861, -76.3383989]
Name: web-scraper-start-url, dtype: object

In [0]:
# make changes
df['geo']=df['web-scraper-start-url'].apply(parse_geo)
df_labels['geo']=df_labels['start_url'].apply(parse_geo)

str

###**rating valuation engineering**

In [23]:
# on the reviews it had images of lit stars triggered by js
# to work around this i took the html source because i knew it would
# show which stars are supossed to be triggered, but as a drawback
# no i have to clean HTML instead of pretty output
df['rating_html'].head()

0    <span jstcache="293" jsinstance="0" class="sec...
1    <span jstcache="293" jsinstance="0" class="sec...
2    <span jstcache="293" jsinstance="0" class="sec...
3    <span jstcache="293" jsinstance="0" class="sec...
4    <span jstcache="293" jsinstance="0" class="sec...
Name: rating_html, dtype: object

In [24]:
# make a funtion to apply to col
def clean_rating(x):
  # make a list of strings to work with
  out=x.split()
  # sort list so that duplicates group togeather
  out.sort()
  # the first element is just '<span>' and the following 20 elements are redundant,
  # the last 5 elements are placment flags
  # remove all of them and leave me with just the number of active stars
  # then get a count so i can have a pretty int
  return len(out[21:len(out)-5])

# test to make sure that it works
test=df['rating_html'].apply(clean_rating)
test.head()

0    5
1    1
2    4
3    4
4    2
Name: rating_html, dtype: int64

In [0]:
# make changes to df
df['rating_html']=df['rating_html'].apply(clean_rating)

### **datetime engeenering for graphing**

In [26]:
# humanfied dates are great to read, not so great to graph, i need to make theese
# back into dt format,(why i have a glob at the top with the date of scrape)
df['published_time'].value_counts()

a year ago       628
2 years ago      394
3 years ago      168
7 months ago      91
8 months ago      90
6 months ago      74
4 years ago       72
11 months ago     68
5 months ago      67
9 months ago      65
10 months ago     56
a month ago       55
4 months ago      54
3 months ago      47
2 months ago      35
5 years ago       26
a week ago        18
2 weeks ago       17
6 years ago       16
3 weeks ago       12
4 weeks ago       11
8 years ago       10
7 years ago        9
5 days ago         4
a day ago          4
6 days ago         2
9 years ago        2
3 days ago         1
Name: published_time, dtype: int64

In [0]:
# create a map for all units to hours
time_map={'second':0.000278,'minute':0.0167,'hour':1,'day':24,'week':168,'month':530.5,'year':8766}
# make a function that takes a relitive time 'a day ago' and transfers that to a datetime
def human_to_dt(x):
  # the number that i will end up subtracting from scrape date
  diff=0
  # make a datetime object to hold the date that the dataset was scrapped
  dt=datetime.datetime.strptime(DATE_SCRAPED, '%m-%d-%Y')
  # strip the string down to two values a quantifier and a unit
  q,u=x[:-3].strip().split(' ')
  # remove trailing s on unit it is not needed
  if u[len(u)-1]=="s":
    u=u[:len(u)-1]
  # check if there is just one unit if so then set diff=1
  if q == "a":
    diff=time_map[u]
  # if the number is not one then multiply the q by the map_key entry for u
  else:
    #safe cast
    try:
      diff=time_map[u]*int(q)
    except:
      print("ERROR")
      return 0
  # convert dt to utc timestamp
  dt=dt-datetime.timedelta(hours=diff)
  timestamp = dt.replace(tzinfo=datetime.timezone.utc).timestamp()
  return timestamp

In [32]:
# making sure that it works how i want it to
testvalue=df['published_time'].iloc[0]
print(human_to_dt(testvalue))
del testvalue

1581292800.0

In [0]:
# apply changes to df
df['published_time']=df['published_time'].apply(human_to_dt)

## more data cleaning to drop columns that i dont need anymore

In [34]:
df.head()

  web-scraper-order  ...                        geo
0    1582527995-344  ...  [36.7819861, -76.3383989]
1    1582527995-428  ...  [36.7819861, -76.3383989]
2    1582527918-244  ...  [36.8262133, -76.4123802]
3   1582528346-1348  ...  [36.8031384, -76.1770067]
4    1582527995-377  ...  [36.7819861, -76.3383989]

[5 rows x 8 columns]

In [35]:
df_labels.head()

  web-scraper-order  ...                        geo
0     1582755020-11  ...   [36.928009, -76.3205357]
1      1582755020-2  ...  [36.9056756, -76.1367491]
2     1582755020-16  ...  [36.7819818, -76.3383989]
3      1582755020-1  ...   [36.932126, -76.2046187]
4      1582755020-6  ...   [36.819091, -76.2241417]

[5 rows x 7 columns]

In [0]:
# going to drop internal scraper columns that dont add context for the information
# that is provided by them
df=df.drop(['web-scraper-order','web-scraper-start-url'],axis=1)
df_labels=df_labels.drop(['web-scraper-order','start_url'],axis=1)

##merging df's based on geo codes

In [0]:
# but first i have to cast and round existing geo codes in both df's because
# google does such a great job at consitency
testvalue=df['geo'].iloc[0]
# define a function that reurns a tuple of rounded floates from the geo tags
# going with 3 signifigant figures since that equates to 110m and none of the 
# stores are that close
def clean_geos(x):
  out=[round(float(x[0]),3),round(float(x[1]),3)]
  return out
  
# self explainitory
def sep_lat(x):
  return x[0]
def sep_long(x):
  return x[1]

In [0]:
# make changes to df's
df['geo']=df['geo'].apply(clean_geos)
df_labels['geo']=df_labels['geo'].apply(clean_geos)

In [0]:
# add latitude and longitude columns
df['latitude']=df['geo'].apply(sep_lat)
df_labels['latitude']=df_labels['geo'].apply(sep_lat)
df['longitude']=df['geo'].apply(sep_long)
df_labels['longitude']=df_labels['geo'].apply(sep_long)

In [66]:
df_labels.head()

                   name  rating  ... latitude  longitude
0   Chanello's Pizza #1     3.7  ...   36.928    -76.321
1  Chanello's Pizza #19     4.0  ...   36.906    -76.137
2  Chanello's Pizza #33     3.1  ...   36.782    -76.338
3   Chanello's Pizza #2     3.1  ...   36.932    -76.205
4  Chanello's Pizza #11     3.4  ...   36.819    -76.224

[5 rows x 7 columns]

In [67]:
df.head()

  number_to_rate            name  ...  latitude longitude
0            124     lauren sams  ...    36.782   -76.338
1            124     Krys Peirce  ...    36.782   -76.338
2            101       lori kent  ...    36.826   -76.412
3             62  Christian Betz  ...    36.803   -76.177
4            124  Janel Brosseit  ...    36.782   -76.338

[5 rows x 8 columns]

In [0]:
# drop some more columns that are a pain in my ass
df=df.drop('geo',axis=1)
df_labels=df_labels.drop('geo',axis=1)
df=df.drop('number_to_rate',axis=1)

# merge data frames which will map the store the customer
test=df.merge(df_labels,on=['latitude','longitude'])

In [79]:
# grab a random sample to see what the dataframe looks like
test.sample(40)

                     name_x  ...  num_to_rate
1123            nepochopení  ...          157
342            Jcjohn Slaya  ...          111
428               A Gaskins  ...           83
1132           David Mendez  ...          157
1871        Sittinpretty NC  ...          148
746          Matthew Nelson  ...          101
420               MRB Banks  ...           83
265         Kieran Bilginer  ...           63
961       Deidra Washington  ...          206
1329           Amanda Nimmo  ...          143
1908     Monique Brathwaite  ...          148
444                    Devo  ...           83
272          Jamie Stanston  ...           63
1430           Jack Wareing  ...          143
934          Hermenia Baker  ...          206
1975            Dawn Antoon  ...          148
553             Shelli Loud  ...          141
1186             Lisa Janko  ...          116
2002       Centwane Gatling  ...          148
799               Elvin Gay  ...          101
566                   Sam W  ...          141
1887          Shrell Watson  ...          148
1521         Shenika Henson  ...          120
2083    Christopher Pokines  ...           80
1059     Theodoric thurmond  ...          157
1676            Will Bailey  ...           85
1695            Lois Garner  ...           85
327         Shanita Roberts  ...          111
784           Wanda Semidey  ...          101
4            Alexandra Kehl  ...          124
1115  Christien de Beaufort  ...          157
213                    Mt G  ...          101
1567                 Ken M.  ...           64
456               Mike Arce  ...           83
1002        Lorraine Watson  ...          206
1546          Matt Williams  ...          120
745         Rhonda Kuhnhenn  ...          101
1651              joe smith  ...           85
425         Desiree Arriola  ...           83
247              Eric Jones  ...           63

[40 rows x 10 columns]

##**I think thats gonna be good for this dataset, lets do some house keeping and export it to a file to use**

In [89]:
print(test.columns.to_list())

['customer_name', 'time', 'review_content', 'review_rating', 'latitude', 'longitude', 'store_name', 'store_rating', 'store_address', 'tot_num_rate']

In [0]:
# rename my columns to something easier then x_name y_name ect
df=test
perfered_names=['customer_name', 'time', 'review_content', 'review_rating', 'latitude',
 'longitude', 'store_name', 'store_rating', 'store_address', 'tot_num_rate']
df.columns=perfered_names

In [88]:
df.columns.to_list()

['customer_name',
 'time',
 'review_content',
 'review_rating',
 'latitude',
 'longitude',
 'store_name',
 'store_rating',
 'store_address',
 'tot_num_rate']

In [0]:
perf_order=['time',
            'customer_name',
            'review_content',
            'review_rating',
            'store_name',
            'store_rating',
            'store_address',
            'tot_num_rate',
            'latitude',
            'longitude']
df=df[perf_order]

In [91]:
df.head()

           time   customer_name  ... latitude  longitude
0  1.581293e+09     lauren sams  ...   36.782    -76.338
1  1.550945e+09     Krys Peirce  ...   36.782    -76.338
2  1.550945e+09  Janel Brosseit  ...   36.782    -76.338
3  1.580593e+09   Ashley Heater  ...   36.782    -76.338
4  1.456272e+09  Alexandra Kehl  ...   36.782    -76.338

[5 rows x 10 columns]

In [0]:
df.to_csv('/content/chanellosfinal.csv')